@using System.Security.Claims
@model Job_refugio_bd.Models.Inscrito

@{
    ViewData["Title"] = "StatusInscricao";
}

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<link rel="stylesheet" href="~/css/styleDetailsVagaComStatus.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<main>

    @{
        int statusInscricao = Model.StatusInscricao; //Nivel do status na model Inscrito
        string progressoTexto = "";
        int progressoPercentual = 0;

        if (statusInscricao == 1)
        {
            progressoTexto = "Inscrito";
            progressoPercentual = 25;
        }
        else if (statusInscricao == 2)
        {
            progressoTexto = "Em análise";
            progressoPercentual = 50;
        }
        else if (statusInscricao == 3)
        {
            progressoTexto = "Entrevista";
            progressoPercentual = 75;
        }
        else if (statusInscricao == 4)
        {
            progressoTexto = "Admissão";
            progressoPercentual = 100;
        }
    }

    <div class="progress-container">
        <div class="progress-bar" style="width: @progressoPercentual%;"></div>
        <span class="progress-text">@progressoTexto (@progressoPercentual%)</span>
    </div>

    <div class="conteudo">



        <h1 class="titulo">@Html.DisplayFor(model => model.Vaga.NomeCargo)</h1>
        <p id="Datap">Data da publicação @Html.DisplayFor(model => model.Vaga.DataPublicacao)</p>
        <hr>
        <div class="resumo">

            <ul class="resumo1">
                <li class="item_info_vaga">
                    <span class="material-symbols-outlined">
                        location_on
                    </span>@Html.DisplayFor(model => model.Vaga.Local)
                </li>
                <li class="item_info_vaga">
                    <span class="material-symbols-outlined">
                        home_work
                    </span>@Html.DisplayFor(model => model.Vaga.RegimeTrabalho)
                </li>
            </ul>
            <ul class="resumo2">
                <li class="item_info_vaga">
                    <span class="material-symbols-outlined">
                        work
                    </span>@Html.DisplayFor(model => model.Vaga.MetodoContratacao)
                </li>
                <li class="item_info_vaga">
                    <span class="material-symbols-outlined">
                        accessible
                    </span> Vagas tambem pra PCD @Html.DisplayFor(model => model.Vaga.VagaPCD)
                </li>
            </ul>


        </div>
        <hr>

        <h1 class="titulo">Sobre a Empresa</h1>
        <p id="sobreAEmpresa">@Html.DisplayFor(model => model.Vaga.SobreEmpresa)</p>


        <h1 class="titulo">Descrição da Vaga</h1>
        <p id="descricaoDaVaga">@Html.DisplayFor(model => model.Vaga.DescVaga)</p>

        <h1 class="titulo">Requisitos e Qualificações</h1>

        <ul class="req">
            <li>@Html.DisplayFor(model => model.Vaga.RequisitosQualificacao)</li>
        </ul>

        <h1 class="titulo">Informação Adicional </h1>
        <p id="informacaoAdicional">@Html.DisplayFor(model => model.Vaga.InfoAdicional)</p>

    </div>

</main>

