@using System.Security.Claims
@model IEnumerable<Job_refugio_bd.Models.Inscrito>

@{
    ViewData["Title"] = "Inscrições";
}

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<link rel="stylesheet" href="~/css/styleinscricoes.css">
<main>
    <div class="content">
        <!--banner-->
        <section class="banner"></section>
        <!--Menu Lateral-->
        <aside id="menuLateral" class="menuLateral">
            <h1 id="hi">Olá, @User.Identity.Name</h1> <!--incluir nome do candidato criando um Id-->
            <a class="linksLateral" asp-area="" asp-controller="Candidatos" asp-action="Details" asp-route-id="@userId">Home</a>
            <a class="linksLateral" asp-area="" asp-controller="Candidatos" asp-action="Edit" asp-route-id="@userId">Meus Dados</a>
            <a class="linksLateral" asp-area="" asp-controller="Candidatos" asp-action="Inscricoes" asp-route-id="@userId">Minhas Candidaturas</a>
        </aside>
        <div class="cards">
            @foreach (var item in Model)
            {
                <div class="caixa">
                    <h2>@Html.DisplayFor(modelItem => item.Vaga.NomeCargo)</h2>
                    
                    @{
                        int statusInscricao = item.StatusInscricao ;
                        string progressoTexto = "";
                        int progressoPercentual = 0;

                        if (statusInscricao == 1)
                        {
                            progressoTexto = "Inscrito";
                            progressoPercentual = 25;
                        }
                        else if (statusInscricao == 2)
                        {
                            progressoTexto = "Em análise";
                            progressoPercentual = 50;
                        }
                        else if (statusInscricao == 3)
                        {
                            progressoTexto = "Entrevista";
                            progressoPercentual = 75;
                        }
                        else if (statusInscricao == 4)
                        {
                            progressoTexto = "Admissão";
                            progressoPercentual = 100;
                        }
                    }

                    <div class="progress-container">
                        <div class="progress-bar" style="width: @progressoPercentual%;"></div>
                        
                    </div>
                    <a asp-controller="Vagas" asp-action="StatusInscricao" asp-route-id="@item.Idinscricao" class="btnVer">Ver status</a>

                </div>

            }

        </div>


    </div>
</main>

